@media only screen and (max-device-width: 480px) {
    
    header, nav, main, footer { width:310px; }
    
    main, footer { font-size:12px; }
    
    #hcard-Lucas-Axel-Karl-Wik { font-size:13px; width:auto; } 
    
    #container { width:320px; }
    
    main { margin:0; }
    
    header { background-image:none; }
    
    nav ul li a { width:240px; }
    
    body { margin:0; }
    
    img { width:310px; }
    
    video { width:310px; }
    
    fieldset { width:250px; }
    
    .bild { background-size:20px 20px; }
    
}