@media print {
    
    nav, footer { display:none; }
    
    video { display:none; }
   
    a:link:after, a:visited:after { content:" [" attr(href) "] "; }
    a:link { font-weight: bold; text-decoration: underline; color: #06c; }
    
    body 
    { 
    background: white; 
    line-height: 1.2;
    word-spacing: 1px;
    }
    
    
    #container, main, header { width:100%; }
    .right
    {
        position:relative;
        top:500px;
        right: 150px;
    }
    
     .notshow { display:none; }
}