#header {
        background-color:#0A1C46;
        color:white;
        height:300px;
        text-align:center;
        padding:5px;
        
        background-image:url(Pics/get%20rekt.png);
        background-position:top left;
        background-repeat: no-repeat;
        background-size:225px 300px;
        }

#navigator        
        {
        float:left;
        width:200px;
        height:auto;
        background-color:#8795B6;
        color:black;
        padding:5px;
        }
        
#container
        {
        background-color:#304474;
        height:1500px;
        }
        
#content
        {
        float:left;
        margin:0px;
        position:inherit;
        width:1200px;
        text-align:left;
        background-color:#D6E0F7;
        padding:5px;
        }
        
#footer
        {
        text-align:center;
        background-color:#0A1C46;
        color:white;
        padding:5px;
        }
    
#horizontal 
        {
                height:1px;
                width:100%;
                margin-top:5px;
                margin-bottom:5px;
                background-color:#3D3D56;
        }    


#navigator ul
        {
                margin:5px;
                padding:5px;
                width:200px;
                list-style-type:none;
        }
        
#navigator ul li a
        {
                text-decoration: none;
                color:white;
                margin:3px;
                padding:10.5px 11px;
                background-color:#636363;
                display:block;
        }
      
#navigator ul li a:visited
        {
                color:#0944CA;       
        }
        
#navigator ul li a:hover, navigator ul li .current
        {
                 color:white;  
                 background-color:#1C1D1F;
        }


        
.active 
{
     font-weight:bold;
     text-align:right;
}
        
.bild
{
        background-image:url(Pics/kugghjul.png);
        background-repeat: no-repeat;
        background-position:top left;
        background-size:25px 25px;
        text-indent:40px;
}

.right
{
        float:right;
}
      

