#header {
        background-color:#0A1C46;
        color:white;
        height:200px;
        text-align:center;
        padding:5px;
        }

#navigator
        {
        float:left;
        width:150px;
        height:200px;
        background-color:#8795B6;
        color:black;
        padding:5px;
        }
        
#container
        {
        background-color:#304474;
        height:2000px;
        }
        
#content
        {
        position:absolute;left:168px;top:218px;
        width:1200px;
        text-align:center;
        background-color:#D6E0F7;
        padding:5px;
        }
#footer
        {
        text-align:center;
        background-color:#0A1C46;
        color:white;
        padding:5px;
        }
    


#navigator ul
        {
                margin:10px;
                padding:10px;
                width:150px;
                list-style-type:none;
        }
        
#navigator ul li a
        {
                text-decoration: none;
                color:white;
                padding:10.5px 11px;
                background-color:#636363;
                display:block;
        }
      
#navigator ul li a:visited
        {
         color:#0944CA;       
        }
        
#navigator ul li a:hover, navigator ul li .current
        {
         color:white;  
         background-color:#1C1D1F;
        }
        
        
      

